:root {
    --nav-bar-height: 26vh;
    --min-width: 580px;
    --main-color: rgb(94, 196, 255);
    --form-height: 45vh;
}

.form {
    background-color: whitesmoke;
    max-height: var(--form-height);
    padding-top: 5vh;
    background-color: grey;
}

.logo {
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-small-vertical {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-small-horizontal {
    margin-left: 10px;
    margin-right: 10px;
}

.left {
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.medium-width {
    min-width: 50vw;
}

.small-width {
    min-width: 10vw;
}

.right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

::-webkit-scrollbar {
    display: none;
}


.mainapp {
    background-color: rgb(59, 59, 59);
    background-size: cover;
    background-position: center center;
    min-height: calc(100vh - var(--nav-bar-height) - var(--form-height));
    padding: 5vh;
    min-width: var(--min-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-bar {
    position: fixed;
    top: 90vh;
    width: 100%;
}

.margin-bottom-large {
    margin-bottom: 5vh
}

button.accordion {
    min-width: 100%;
    background-color: whitesmoke;
    border: none;
    outline: none;
    text-align: left;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 1.0s ease-in;
    transition: color .5s ease-out;
    border-radius: 10px;
}

button.accordion:hover {
    background-color: grey;
    color: white;
}

button.accordion:after {
    content: '\f054';
    font-family: "fontawesome";
    float: left;
    font-size: 20px;
}


button.accordion.is-open:after {
    content: '\f078';
    font-size: 20px;
}

a:hover {
    background-color: yellow;
    border-radius: 3px;
    font-size: 110%;
}

.accordion-content {
    padding: 0 20px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    margin-top: 10px;
    background-color: whitesmoke;
    transition: max-height 0.4s ease-in-out;
}

.good-level {
    color: green;
}

.warning-level {
    color: rgb(255, 174, 0);
}

.danger-level {
    color: red;
}

.good {
    background-color: green;
    height: 1vh
}

.warning {
    background-color: rgb(255, 174, 0);
    height: 1vh;
}

.danger {
    background-color: red;
    height: 1vh;
}

.nothing {
    background-color: grey;
    height: 1vh;
}

.decoration {
    background-color: var(--main-color);
    height: 1vh;
}

.city-text {
    font-size: 180%;
    padding: 0 15px;
}

.navbar {
    height: var(--nav-bar-height);
    background-color: var(--main-color);
    padding-bottom: 4vh;
    padding-top: 4vh;
    padding-left: 3vh;
    padding-right: 3vh;
    min-width: 580px;
}

.border-bottom {
    border-bottom: 10px black;
}

.value-text {
    font-size: 100%;
    padding: 0 15px;
}

.city-card {
    width: var(--min-width);
}

.form-input {
    text-overflow: ellipsis;
}

.form-input:hover {
    background-color: whitesmoke;
    text-overflow: clip;
}

.notification {
    background-color: whitesmoke;
    width: 600px;
    border-radius: 0
}

@media only screen and (max-width: 576px) {
    .mainapp {
        background-color: rgb(59, 59, 59);
        padding-top: 5vh;
        min-width: 100%;
        display: flex;
        min-height: 32.2vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navbar {
        position:absolute;
        height: 20vh;
        background-color: var(--main-color);
        min-width: 100%;
        
    }
    .logo {
        height: 100%;
    }
    .form{
        padding-top: 50vh;
        padding-bottom: 25vh;
    }
    .notification {
        background-color: whitesmoke;
        width: 100%;
        border-radius: 0;
    }
    .value-text {
        font-size: 100%;
    }
    button.accordion:hover {
        background-color: whitesmoke;
        color: black;
    }
    
.city-text {
    font-size: 160%;
    padding: 0;
}
}